body{

    background: darksalmon;

}

.fill {
    /* Add random image with Picsum API  */
    background-image: url('https://picsum.photos/150/150');
    position: relative;
    height: 150px;
    width: 150px;
    top: 5px;
    left: 5px;
    cursor: pointer;
}

.empty{

    display: inline-block; /* Aligh boxes */
    height: 160px; /* 10px bigger than .fill box */
    width: 160px;
    margin: 10px;
    border: 3px salmon solid;
    background-color: white;

}

/* Click & Hold box Style */
.hold{

    border: solid #ccc 4px;

}

/* Style for hover over empty box  */
.hovered {

    background: #f4f4f4;
    border-style: dashed;

}

.invisible {

    display: none;

}



